<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/app.css') }}"
    />
    <title>Chitter Landing Page</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Home</h1>
    <!-- <form action="/home" method="post">
      <label for="post">Share your thoughts</label>
      <div>
        <input type="text" name="content" id="post" />
      </div>
      <input type="submit" value="Post" />
    </form> -->
    <h2>Recent posts</h2>
    <div class="card">
      <div class="card-content">
        {% for post in posts %}
        <div class="post">
          <p>{{post.content}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    <a href="/">Back to landing page</a>
  </body>
</html>
