<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chitter Landing Page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/app.css') }}"
    />
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="container">
      <img src="static/chitter_logo.png" width="300" height="200"></img>
      <h1>Hello {{user}}.</h1>
      <form action="/home" method="post" class="thoughts-form">
        <label for="post">What's on your mind?</label>
        <div>
          <input type="text" name="content" id="post" />
          <button type="submit">Post</button>
        </div>

      </form>
      <h2>Recent posts</h2>
      <div class="card">
        <div class="card-content">
          {% for post in posts %}
          <div class="post">
            <p>
              {{user_repository.find_username_by_user_id(post.user_id)['username']}}
              says "{{post.content}}"
            </p>
            <p>time: {{ post.time_post.strftime("%H:%M, %d %B %Y")}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- <div class="nav"> -->
      <a href="/signout">Sign out</a>
      <!-- </div> -->
    </div>
  </body>
</html>
