<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/app.css') }}"
    />
    <title>Chitter Landing Page</title>
    <meta charset="utf-8" />
  </head>
  <body>

    <!-- <div class="container"> -->
    <!-- <h1>Home</h1> -->
    <!-- <form action="/home" method="post">
      <label for="post">Share your thoughts</label>
      <div>
        <input type="text" name="content" id="post" />
      </div>
      <input type="submit" value="Post" />
    </form> -->
    <div class="container">
      <img src="static/chitter_logo.png" width="300" height="200"></img>
    <h1>Recent posts</h1>
    <h2>You're currently a guest. To make posts of your own, login.</h2>
    <div class="card">
      <div class="card-content">
        {% for post in posts %}
        <div class="post">
          <p>
            {{user_repository.find_username_by_user_id(post.user_id)['username']}}
            says "{{post.content}}"
          </p>
          <p>time: {{ post.time_post.strftime("%H:%M, %d %B %Y")}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    <a href="/">Back to landing page</a>
  </div>
<!-- </div> -->
  </body>
</html>
