<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chitter Landing Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="container">
      <img src="static/chitter_logo.png" width="300" height="200"></img>
    <h1>Sign Up</h1>

      <!-- We check to see if there are any errors from a previous submission -->
      {% if errors %}
      <!-- If so, we show them. -->
      <p class="t-errors">There were errors with your signup: {{ errors }}</p>
      {% endif %}
 
      <form action="/signup" method="post" class="signup-form">
      {% set fields = ['email', 'password', 'name', 'username'] %} 
      {% for field in fields %}
      <div class="form-group">
        <label for="{{ field }}">{{ field.capitalize() }}</label>
        <input type="text" name="{{ field }}" id="{{ field }}" />
      </div>   
      {% endfor %}

      <div class="form-group">
        <!-- `type` is submit here, to indicate it is a button -->
        <!-- `value` is used as the button's text -->
        <button type="submit"> Sign Up</button>
      </div>
    </form>
    <a href="/">Back to landing page</a>
  </div>
  </body>
</html>
