<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chitter Landing Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Sign In</h1>
    <form action="/signin" method="post">
        <!-- We check to see if there are any errors from a previous submission -->
        {% if errors %}
        <!-- If so, we show them. -->
        <p class="t-errors">There were errors with your signin: {{ errors }}</p>
        {% endif %}

        {% set fields = ['email', 'password'] %} 
        {% for field in fields %}
        <p>
          <label for="{{ field }}">{{ field.capitalize() }}</label>
          <input type="text" name="{{ field }}" id="{{ field }}" />
        </p>
        {% endfor %}
        <p>
          <input type="submit" value="Sign in" />
        </p>
      </form>
      <a href="/">Back to landing page</a>
  </body>
</html>
